.hero{
    background-image: url(https://ak.picdn.net/shutterstock/videos/31579318/thumb/1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}